---
layout: default
title: Home
---

<h2>Alignments</h2>

<table>
 <tr>
  <th>Input</th>
  <th>Analysis</th>
  <th>Contributor</th>
  <th># aligned</th>
  <th>% aligned</th>
  <th>Aln length</th>
  <th>Analysis</th>
 </tr>
{% for aln in site.data.alignments|sort_by:"Input","Percent_Aligned" %}
 <tr>
  <td>{{ aln.title }} (version {{ aln.version }})</td>
  <td>{{ aln.Input }}</td>
  <td>{{ aln.author }}</td>
  <td>{{ aln.Aligned_Reads }}</td>
  <td>{{ aln.Percent_Aligned }}</td>
  <td>{{ aln.Mean_Alignment_Length }}</td>
  <td><a href="output/alignment/{{ aln.Recipe }}_{{ aln.Input }}.histogram.png">Coverage plot</a>
      <a href="output/bpipe/{{ aln.Recipe }}_{{ aln.Input }}.html">Pipeline report</a></td>
 </tr>
{% endfor %}
</table>

<h2>Illumina-guided assembly</h2>

<h3>E. coli K-12</h3>

<table>
 <tr>
  <th>Analysis</th>
  <th>NG50</th>
  <th>bPipe result</th>
  <th>QUAST result</th>
 </tr>
 <tr>
  <td>nickloman-spades</td>
  <td>4641769</td>
  <th><a href="/output/assembly/nickloman-spades/bpipe/">bPipe report</a></td>
  <td><a href="/output/assembly/nickloman-spades/report.html">QUAST report</a></td>
 </tr>
</table>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
