---
layout: default
title: Home
---

<h2>Alignments</h2>

<h3>E. coli K-12 R7.3</h3>

<table>
 <tr>
  <th>Analysis</th>
  <th>Mean alignment length</th>
  <th>Unaligned reads</th>
  <th>Aligned reads</th>
  <th>Analysis</th>
 </tr>
{% for aln in site.data.alignments %}
 <tr>
  <td>{{ aln.Filename }} </td>
  <td>{{ aln.Mean_Alignment_Length }}</td>
  <td>{{ aln.Unaligned_Reads }}</td>
  <td>{{ aln.Aligned_Reads }}</td>
  <td><a href="output/{{ aln.Reference }}/{{ aln.Analysis }}/{{ aln.Reference }}.sort.draw_histo.png">Coverage plot</a>
      <a href="output/{{ aln.Reference }}/{{ aln.Analysis }}/{{ aln.Reference }}/index.html">Pipeline report</a></td>
 </tr>
{% endfor %}
</table>

<h2>Illumina-guided assembly</h2>

<h3>E. coli K-12</h3>

<table>
 <tr>
  <th>Analysis</th>
  <th>NG50</th>
  <th>QUAST result</th>
 </tr>
 <tr>
  <td>nickloman-spades</td>
  <td>4641769</td>
  <td><a href="/output/assembly/nickloman-spades/index.html">QUAST report</a></td>
 </tr>
</table>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
